<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>GIFyou</string>
	<key>UIAppFonts</key>
	<array>
		<string>DancingScript-VariableFont_wght.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Parisienne-Regular.ttf</string>
		<string>Bulletto Killa.ttf</string>
		<string>RedSky Slanted.otf</string>
		<string>RedSky.otf</string>
		<string>Quantum.otf</string>
		<string>Kelsi-Regular.otf</string>
		<string>Kelsi-fill.otf</string>
		<string>Pikolo-BlockAltFree.otf</string>
		<string>Misto.otf</string>
		<string>Lettown Hills italic.otf</string>
		<string>Lettown Hills.otf</string>
		<string>TheNightWatch.ttf</string>
		<string>Batuphat Script.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
